header {
    float: right ;
    padding-bottom: 5vh;
    margin-top: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
   margin-left: 4vh;
   font-family: Arial, Helvetica, sans-serif;
   padding-bottom: 430px;
}

hr {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color:#6664  
}
a {
    color: blueviolet;
    text-decoration: none;
}


div {
    
    text-align: center;
    position: relative;
    display: inline-block;
    margin-left: 30px;
    border: solid 2px black;
    min-width: fit-content;
    height: 2.5vh;
    text-align: center;
    font-size: large;
    padding: 9px 40px 12px 40px;
    
}
div:hover {
    background-color: peru;
}

.footer {
    display: inline;
    position: relative;
    
   


}

.footer p {
    float: right;
    margin-top: -37px;
   
   
}
