* {
    box-sizing: border-box;
}

* {
    font-family: Arial, Helvetica, sans-serif;;
}

h1, h2, h3, p, ul, blockquote {
    padding: 20px;
}

header {
    height: auto;
    display: flex;
    justify-content: flex-end;
}

footer, li {
    margin: 10px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    width: 120px;
    height: 60px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: black;
}

footer * {
    display: inline-block;
}

.floatRight {
    float: right;
}

.currentButton {
    background-color: darkgray;
}

.profile-pic {
    width: 10vw;
    margin: 0 3vw;
}

.shadow {
    size: 100% 100%;
    padding: 5px;
    box-shadow: 
    2px 2px 4px darkgrey,    
    -2px -2px 4px darkgrey;
}