*{
  box-sizing: border-box; 
  font-size: 1.1em;
  font-family: serif;
}

header {
    text-align: right;
}

.navbar {
  margin-bottom: 8vh
  }

.maincontainer{
  margin-left: 1vw;
}

li.navbut{
  list-style: none;
  display: inline;
  width: 8vw;
  border: solid 2px black;
  margin: 0.5vh 1vw  0;
  text-align: center;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

hr {
  margin-bottom: 50px;
}

h1 {
  font-size: 1.7em;
  margin-left: 5px;
  }

p {
  font-size: 1.1em;
  padding: 10px;
  font-weight: 550;
}

footer p {
  float: right;
  padding: 0px;
}

footer {
  display: inline;
}

p.right {
  margin: 0px;
}

.right {
  margin-right:5vw;
  float: right;
}